body {
    background-color: #320d3e;
}

* {
    box-sizing: border-box;
}

h4 {
    text-align: center;
    padding: 2px;
    margin: 5px;
}

h6 {
    margin-left: 10px;
    margin-top: 5px;
}

u {
    padding-top: 5px;
    margin-top: 5px;
}

.footer {
    background: #f162ff;
    position: sticky;
    max-height: 35px;
    bottom: 0;
}

li {
    list-style: none;
    color: #f162ff;
}

a {
    padding: 5px;
    margin: 3px;
    text-decoration: none;
    margin-right: auto;
}

.hero {
    margin: auto;
}

.conatiner {
    background: #d902ee;
    border-radius: 15px;
    min-height: 200px;
    margin: auto;
    margin: 10px;
    padding-bottom: 15px;
}

.nav {
    position: sticky;
    top: 0;
    display: flex;
    background: #f162ff;
    opacity: 0.8;
}

.mx {
    margin-left: 15px;
    margin-right: 15px;
}

.my {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header {
    border-bottom: black 3px dashed;
    margin-bottom: 5px;
}

.subject {
    border-right: 2px black solid;
    width: 70%;
}

.body {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background: #f162ff;
}

.time {
    margin-left: 3px;
    padding-left: 3px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.text-light {
    color: #fff;
}

.text-head {
    color: #000;
    font-size: 25px;
}

span {
    color: #dff;
    margin-left: 20px;
}

.infinity {
    font-size: 15px;
    color: #000;
    font-weight: bold;
}

@media screen and (min-width:780px) {
    .conatiner {
        width: 350px;
        float: left;
    }
}

@media screen and (max-width:780px) {
    h3,
    h4,
    h5 {
        font-size: 15px;
    }
    h6 {
        font-size: 10px;
    }
}